.team {
  padding: 147px 0;
  background: #0152a8;
  .line{
    background: #2F85E1;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 62px;
    &-text-box {
      &__sub-title {
        color: #fff;
        font-family: "Lato";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 142%; /* 19.88px */
        letter-spacing: 5.81px;
        text-transform: uppercase;
        width: max-content;
        padding: 3px 11px 0;
        border: 0.5px solid #2b78ca;
        margin-bottom: 16px;
      }
      &__title {
        color: #fff;
        font-family: "Montserrat";
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
      }
    }
    &__link {
      padding: 16px 30px;
      background: #0fe3af;
      color: #0152a8;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
      border: 1px solid #0fe3af;
      transition: 0.4s;
      &:hover {
        background: none;
        color: #0fe3af;
      }
    }
  }
  &-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 132px;
    &-card {
      padding: 30px;
      background: #004a99;
      display: flex;
      flex-direction: column;
      gap: 23px;
      text-align: center;
      &-text-box {
        &__h5 {
          color: #fff;
          text-align: center;
          font-family: "Montserrat";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 114.5%; /* 22.9px */
          margin-bottom: 5px;
        }
        &__p {
          color: #fff;
          text-align: center;
          font-family: "Lato";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 142%; /* 22.72px */
          margin-bottom: 0;
        }
      }
      &-links {
        display: flex;
        justify-content: center;
        gap: 27px;
        &__link {
          font-size: 25px;
          line-height: 0;
          color: #fff;
        }
      }
    }
  }
  &-counter {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    padding: 0 32px;
    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__h3 {
        color: #fff;
        font-family: "Montserrat";
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 65px */
      }
      &__p {
        color: #fff;
        text-align: center;
        font-family: "Lato";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 173%; /* 24.22px */
        letter-spacing: 5.81px;
        text-transform: uppercase;
      }
    }
  }
}
