.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  margin-top: 15px;
  align-items: center;
}
.header__log {
  background: #0FB3AF;
  border: 1px solid #0FB3AF;
  box-shadow: 0px 5px 15px -3px rgba(15, 179, 175, 0.18);
  border-radius: 5px;
  padding: 5px 25px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
}
.header__nav {
  display: flex;
  gap: 64px;
}
.header__nav-text {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3C3C3B;
}
.header__nav-text:hover {
  color: #0FB3AF;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/src/projects/deniza-project/src/fonts/maven-pro/mavenpro.css");
}
.reviews {
  margin-top: 180px;
}
.reviews__title {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #0FB3AF;
  justify-content: center;
  display: flex;
  margin-bottom: 80px;
}
.reviews__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}
.search-container__input {
  background: #FFFFFF;
  border: 1px solid #3C3C3B;
  border-radius: 5px 0px 0px 5px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  width: 300px;
  height: 48px;
  padding: 5px;
  outline: none;
}
.search-container__button {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #3C3C3B;
  border-radius: 0px 5px 5px 0px;
  height: 48px;
  width: 130px;
  border: none;
  cursor: pointer;
}

.search-container__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #3C3C3B;
  position: absolute;
  bottom: 60px;
}

.sort-container {
  display: flex;
  align-items: center;
  position: relative;
}
.sort-container__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #3C3C3B;
}
.sort-container__input {
  outline: none;
  background: #FFFFFF;
  border: 1px solid #3C3C3B;
  border-radius: 5px 0px 0px 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  width: 200px;
  height: 48px;
  color: #B0B0B0;
  padding: 5px;
  margin-left: 15px;
}
.sort-container__button {
  background: #3C3C3B;
  border-radius: 0px 5px 5px 0px;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
}
.sort-container__button__icon {
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}
.sort-container__button__icon:hover {
  transform: rotate(90deg);
}
.sort-container__button.rotate__icon {
  transform: rotate(180deg);
}
.sort-container__menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #3C3C3B;
  border-radius: 5px;
  display: none;
  padding: 10px;
}
.sort-container__menu__item {
  cursor: pointer;
  padding: 5px;
}
.sort-container__menu__item:hover {
  background-color: #F5F5F5;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/src/projects/deniza-project/src/fonts/maven-pro/mavenpro.css");
}
.footnav {
  display: flex;
  margin-top: 70px;
  margin-bottom: 300px;
  justify-content: center;
  align-items: center;
  gap: 39px;
}
.footnav__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #3C3C3B;
  opacity: 0.6;
}
.footnav__icon {
  width: 18.83px;
  height: 12.96px;
  object-fit: contain;
}
.footnav__icon_left {
  width: 18.83px;
  height: 12.96px;
  object-fit: contain;
}

#blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0FB3AF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/src/projects/deniza-project/src/fonts/maven-pro/mavenpro.css");
}/*# sourceMappingURL=style.css.map */