@import './header.scss';
@import './reviews.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


@font-face {
    font-family: "Maven Pro";
    src: url("/src/projects/deniza-project/src/fonts/maven-pro/mavenpro.css");
}